extends ../layouts/default
block append config
	- var pageTitle = "Контакты";
	- var pageDesc = "Описание страницы";
	- var pageKeywords = "Ключевые слова";
	- var headStyles = "header-2.min.css";
block site__content
	h1 Hellow world