extends ../layouts/default
block append config
	- var pageTitle = "Главная страница";
	- var pageDesc = "Описание страницы";
	- var pageKeywords = "Ключевые слова";
	- var headStyles = "header.min.css";
block site__content
	h1 Hellow world